<div class="container">
    <div class="row" style="padding: 10px">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" name="username" placeholder="Username..."/>
                    <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary " value="Search Logs" />
                </span>
                </div>
            </form>
        <div class="pull-right">
            <a href="/logs/clear" class="btn btn-warning m-1"><strong>+</strong> Clear All Logs</a>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>User</th>
            <th>Operation</th>
            <th>Modified Table</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="log : ${logs}">
            <th scope="row" th:text="${log.user.username}"></th>
            <td th:text="${log.operation}"></td>
            <td th:text="${log.tableName}"></td>
            <td th:text="${log.date}"></td>
        </tr>
        </tbody>
    </table>
</div>

