<div class="row">
    <div class="col-md-12">
        <table class="table  table-hover" id="dataTables-example">
            <thead>
            <tr>
                <th>Username</th>
                <th>Fight Result</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fight : ${fights}">
                <td th:text="${fight.otherUser.username}"></td>
                <td th:text="${fight.fightResult == null ? 'Fight is not over' : fight.fightResult }"></td>

                <td>
                    <a th:if="${fight.fightResult ==  null}"
                       th:href="@{/users/challenges/{id}(id = ${fight.otherUser.id})}" class="btn btn-primary">Fight</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>