<div class="container">
    <form method="post" th:object="${registerUserModel}" enctype="multipart/form-data">
        <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-error'">
            <label class="form-control-label" for="username">Username</label>
            <input type="text" class="form-control" id="username"  th:field="*{username}"/>
            <div id="usernameHelp"  th:each="error : ${#fields.errors('username')}" th:text="${error}">Error Message</div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('fullName')} ? 'has-error'">
            <label class="form-control-label" for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" th:field="*{fullName}"/>
            <div id="nameHelp"  th:each="error : ${#fields.errors('fullName')}" th:text="${error}">Error Message</div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
            <label class="form-control-label" for="email">Email</label>
            <input type="email" class="form-control" id="email"  th:field="*{email}"/>
            <div id="emailHelp"  th:each="error : ${#fields.errors('email')}" th:text="${error}">Error Message</div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'" >
            <label class="form-control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password"  th:field="*{password}"/>
            <div id="passwordHelp"  th:each="error : ${#fields.errors('password')}" th:text="${error}">Error Message</div>
        </div>

        <div class="form-group" th:classappend="*{password} != *{confirmPassword} ? 'has-error'" >
            <label for="sideEff">Confirm Password</label>
            <input type="password" class="form-control" id="sideEff"  th:field="*{confirmPassword}"/>
            <div  th:if="*{password} != *{confirmPassword}">Passwords Not Matching</div>
        </div>

        <div class="form-group" >
            <label for="sideEff">Picture</label>
            <input type="file"  name="file"/>

        </div>



        <button type="submit" class="btn btn-default">Register</button>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>

</div>
