<div>
    <form method="post" th:object="${addQuestionModel}">
        <div class="form-group" th:classappend="${#fields.hasErrors('context')} ? 'has-error'">
            <label class="form-control-label" for="context">Question Context</label>
            <input type="text" class="form-control" id="context"  th:field="*{context}"/>
            <div id="usernameHelp"  th:each="error : ${#fields.errors('context')}" th:text="${error}">Error Message</div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('rightAnswer')} ? 'has-error'">
            <label class="form-control-label" for="rightAnswer">Right Answer</label>
            <input type="text" class="form-control" id="rightAnswer" th:field="*{rightAnswer}"/>
            <div id="rightAnswerHelp"  th:each="error : ${#fields.errors('rightAnswer')}" th:text="${error}">Error Message</div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('wrongAnswerOne')} ? 'has-error'">
            <label class="form-control-label" for="wrongAnswerOne">Wrong Answer</label>
            <input type="text" class="form-control" id="wrongAnswerOne"  th:field="*{wrongAnswerOne}"/>
            <div id="wrongAnswerOneHelp"  th:each="error : ${#fields.errors('wrongAnswerOne')}" th:text="${error}">Error Message</div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('wrongAnswerTwo')} ? 'has-error'" >
            <label class="form-control-label" for="wrongAnswerTwo">Wrong Answer</label>
            <input type="text" class="form-control" id="wrongAnswerTwo"  th:field="*{wrongAnswerTwo}"/>
            <div id="wrongAnswerTwoHelp"  th:each="error : ${#fields.errors('wrongAnswerTwo')}" th:text="${error}">Error Message</div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('wrongAnswerThree')} ? 'has-error'" >
            <label class="form-control-label" for="wrongAnswerThree">Wrong Answer</label>
            <input type="text" class="form-control" id="wrongAnswerThree"  th:field="*{wrongAnswerThree}"/>
            <div id="wrongAnswerThreeHelp"  th:each="error : ${#fields.errors('wrongAnswerThree')}" th:text="${error}">Error Message</div>
        </div>

        <input type="submit" class="btn btn-primary" th:value="Add"/>
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>

</div>
