<div class="row">
    <div class="col-md-12">
        <table class="table  table-hover" id="dataTables-example">
            <thead>
            <tr>
                <th>Context</th>
                <th>Right Answer</th>
                <th>Wrong Answer</th>
                <th>Wrong Answer</th>
                <th>Wrong Answer</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="questionsList">
            </tbody>
        </table>
    </div>
    <meta name="_csrf" id="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" id="_csrf_header" th:content="${_csrf.headerName}"/>
</div>