<div class="container">
    <div class="card-group">
        <div class="card" th:object="${sale}">
            <div class="card-block">
                <h4 class="card-title" th:text="|Car make: *{car.make}|"></h4>
                <p class="card-text" th:text="|Car model: *{car.model}|"></p>
                <p class="card-text" th:text="|Customer name: *{customer.name}|"></p>
                <p class="card-text" th:text="|Sale discount: *{discount}|"></p>
            </div>
        </div>
    </div>
</div>