<div>
    <form method="post" th:object="${createClanModel}">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
            <label class="form-control-label" for="name">Question Context</label>
            <input type="text" class="form-control" id="name"  th:field="*{name}"/>
            <div id="nameHelp"  th:each="error : ${#fields.errors('name')}" th:text="${error}">Error Message</div>
        </div>
        <input type="submit" class="btn btn-primary" th:value="Create"/>
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>

</div>
